// === setup chart ===
const lineChartLabels = [{{ labels | join(', ') }}]
const lineChartData = {
    labels: lineChartLabels,
    datasets: [
    {% for chart in charts %}
    {
        label: '{{chart.color}}',
        backgroundColor: 'rgb({{chart.code}})',
        borderColor: 'rgb({{chart.code}})',
        data: [{{ chart.data | join(', ') }}],
    },
    {% endfor %}
    ]
};

// === config chart ===
const lineChartConfig = {
    type: 'line',
    data: lineChartData,
    options: {}
};

// === display chart ===
var myLineChart = new Chart(
    document.getElementById('line_chart'),
    lineChartConfig
);
